div.outer-div {
    padding: 30px;
    text-align: center;
}

div.form {
    display: inline-block;
    padding: 50px;
    width: auto;
    height: auto;

	border-radius: 3px;
	border: 3px solid black;

    text-align: left;
    font-size: 1.2em;
    background-color: #b0ecb0;
}

div.result{
    display: inline-block;
    padding: 50px;
    width: auto;
    height: auto;

    border-radius: 3px;
    border: 3px solid green;

    text-align: left;
    font-size: 1.2em;

}

.carousel-caption {
    color: black;
}   

.carousel-img {
    margin: auto;
    height: : 200px;
    width: 25%;
} 



body {
    font-family: 'Hind Guntur', sans-serif;
    font-size: 1.6em;
}

h3 {
    font-weight:600;
}

img {
    width: 200px;
    display: inline-block;
    margin: auto;
    text-align: center;
}

img.homep {
    width: 40px;   
    /*display: inline-block;*/
}

