<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>

  <!-- We'll load React dependencies on all pages for this app. -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js" crossorigin></script>
  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="/static/css/site.css" rel="stylesheet">
  
  <script src="/static/js/Loc.jsx" type="text/jsx"></script>
  <script src="/static/js/Building.jsx" type="text/jsx"></script>
  <script src="/static/js/Solar.jsx" type="text/jsx"></script>
  <script src="/static/js/HomeProds.jsx" type="text/jsx"></script>
  <script src="/static/js/CommProds.jsx" type="text/jsx"></script>

  <!-- Bootstrap CSS from getbootstrap.com -->
  
  
   <!-- Our custom styles -->
  
</head>
<body>
  <h1>Pocket-Energy <img src="/static/images/Pocket-Energy-Logo.png" style="width:40px;height: 40px;"><img></h1>


  <!-- Include the page's content with this block. -->
  {% block body %}
  {% endblock %}

  <!-- Include any page-specific Javascript using this block. -->
  {% block js %}
  {% endblock %}
</body>
</html>
