{% extends 'base.html' %}
{% block content %}
    <div id="homepage-block">
    <h1 id="homepage-title">Pocket Energy</h1>
    </div>
    
        <label> What appliances or housewares are you interested in purchasing? </label>
            <br>
            <form action="/results" method = "post">
              <select name="product_types">
                  <input type="checkbox" value="washer"/>Washer<br><!-- add hover feature explaining how much energy a new washer can save you !!!!!!!!!!!!!!!-->
                  <input type="checkbox" value="dryer"/>Dryer<br>
                  <input type="checkbox" value="dishwasher"/>Dishwasher<br>
                  <input type="checkbox" value="refrigerator"/>Refrigerator<br>
                  <input type="checkbox" value="ceiling_fan"/>Ceiling Fan<br>
                  <input type="checkbox" value="furnace"/>Furnace<br>
                  <input type="checkbox" value="thermostat"/>Thermostat<br>
                  <input type="checkbox" value="lightbulbs"/>Lightbulbs<br>
            
        
            <input type = "submit" value= "Next Question">
          </form>
    
{% endblock %}