{% extends 'base.html' %}
{% block content %}
    <div id="homepage-block">
    <h1 id="homepage-title">Pocket Energy</h1>
    </div>
    
        <label> What appliances or housewares are you interested in purchasing? </label>
            <br>
            <form action="/results" >
                  <input type="checkbox" name="washer" value="washer"/>Washer<br><!-- add hover feature explaining how much energy a new washer can save you !!!!!!!!!!!!!!!-->
                  <input type="checkbox" name="dryer" value="dryer"/>Dryer<br>
                  <input type="checkbox" name="dishwasher" value="dishwasher"/>Dishwasher<br>
                  <input type="checkbox" name="refrigerator" value="refrigerator"/>Refrigerator<br>
                  <input type="checkbox" name="ceiling_fan" value="ceiling_fan"/>Ceiling Fan<br>
                  <input type="checkbox" name="furnace" value="furnace"/>Furnace<br>
                  <input type="checkbox" name="thermostat" value="thermostat"/>Thermostat<br>
                  <input type="checkbox" name="lightbulbs" value="lightbulbs"/>Lightbulbs<br>
        
            <input type = "submit" value= "Continue">
          </form>
    
{% endblock %}