{% extends 'base.html' %}
{% block content %}
    <div id="homepage-block">
    <h1 id="homepage-title">Pocket Energy</h1>
    <h2> Custom energy efficiency options, reducing carbon footprint and maximizing return on investment. </h2>
    </div>
    
        <label> Do you have free roof area? And Do one of the following apply to you? </label>
            <br>
            <form action="/redirect2">
            <select name="solar_type">
                  <option value="solar_water_heating"> The priority is to save $$ on your water heating & do you use Natural Gas?</option>
                  <option value="solar_panels">The priority to save $$ on your electricity bill & do you have free roof space?</option>
                  <option value="None">the priority is to skip this question</option>
            </select>
        
        <input type = "submit" value= "Next Question">
    </form>
{% endblock %}